<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OCPP 1.6 Simulator</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <h1><span id="status">🔴 </span>OCPP-J 1.6 Simulator</h1>

    <form id="ocppForm">
      <h2>Connect to the Central Station</h2>
      <label for="ocppJServerEndpoint"
        >OCPP Server Endpoint (OCPP-J 1.6):</label
      >
      <input
        type="url"
        name="ocppJServerEndpoint"
        id="ocppJServerEndpoint"
        value="ws://localhost:3000/ws"
      />

      <label for="chargePointId">Charge Point ID:</label>
      <input
        type="text"
        name="chargePointId"
        id="chargePointId"
        value="EVB-P20261797"
      />

      <button type="button" id="connectBtn">Connect</button>
    </form>

    <form id="actionForm" style="display: none">
      <h2>
        Interact with the charging station as
        <span class="chargingStationId"></span>
      </h2>
      <button type="button" id="sendBootBtn">Send BootNotification</button>
      <button type="button" id="sendHeartBeatBtn">Send HeartBeat</button>
    </form>

    <pre>
    <code id="logs">
    Logs will show up here...
    </code>
</pre>

    <script>
      // OCPP 1.6J -------------------------------------------------------------------------------------------------------

      const sessionId = crypto.randomUUID();
      let lastMessageId = 0;
      const CALL_TYPE = 2;
      const CALL_RESULT_TYPE = 3;
      const CALL_ERROR_TYPE = 4;

      const createCall = (action, payload) => {
        const messageId = `${sessionId}-${lastMessageId++}`;
        const data = [CALL_TYPE, messageId, action, payload];
        return JSON.stringify(data);
      };

      const parseCallResponse = (rawData) => {
        const data = JSON.parse(rawData);
        switch (data[0]) {
          case CALL_TYPE: {
            const [_, messageId, action, payload] = data;
            return { type: "CALL", messageId, action, payload };
          }
          case CALL_RESULT_TYPE: {
            const [_, messageId, payload] = data;
            return { type: "CALL_RESULT", messageId, payload };
          }
          case CALL_ERROR_TYPE: {
            const [_, messageId, errorCode, errorDescription, payload] = data;
            return {
              type: "CALL_ERROR",
              messageId,
              errorCode,
              errorDescription,
              payload,
            };
          }
          default:
            return { type: "UNKNOWN_TYPE", data, rawData };
        }
      };

      // WebSocket Logic -------------------------------------------------------------------------------------------------

      let websocket;
      const logs = [];

      const addLog = (type = null, ...log) => {
        let message = log
          .map((x) => (typeof x === "object" ? JSON.stringify(x) : x))
          .join(" ");

        if (type === "error") {
          console.error(...log);
          message = "🔴 " + message;
        } else if (type === "info") {
          console.info(...log);
          message = "🔵 " + message;
        } else if (type === "warn") {
          console.warn(...log);
          message = "🟡 " + message;
        } else {
          console.log(log);
          message = "⚫ " + message;
        }

        logs.push(message);
        $("#logs").html(logs.join("\n"));
      };

      const connected = () => {
        $("#status").html("🟢 ");
        $("#ocppForm").hide();
        $("#actionForm").show();
      };

      const disconnected = () => {
        $("#status").html("🔴 ");
        $("#ocppForm").show();
        $("#actionForm").hide();
      };

      const webSocketOnOpen = () => {
        addLog("log", "WebSocket connection established.");
        connected();
      };

      const webSocketOnMessage = (event) => {
        addLog("log", "Received message:", parseCallResponse(event.data));
      };

      const webSocketOnClose = () => {
        addLog("log", "WebSocket connection closed.");
        disconnected();
      };

      const webSocketOnError = (error) => {
        addLog("error", "WebSocket error:", error);
        disconnected();
      };

      $("#connectBtn").click(() => {
        const ocppJServerEndpoint = $("#ocppJServerEndpoint").val();
        const chargePointId = $("#chargePointId").val();
        const wsUrl = `${ocppJServerEndpoint}/${chargePointId}`;
        $(".chargingStationId").html(chargePointId);

        websocket = new WebSocket(wsUrl);
        websocket.onopen = webSocketOnOpen;
        websocket.onmessage = webSocketOnMessage;
        websocket.onclose = webSocketOnClose;
        websocket.onerror = webSocketOnError;
      });

      const sendData = (payload) => {
        if (websocket && websocket.readyState === WebSocket.OPEN) {
          websocket.send(payload);
          addLog("log", "Sent message:", parseCallResponse(payload));
        } else {
          addLog("error", "WebSocket connection not open.");
        }
      };

      // Set Boot Notification -------------------------------------------------------------------------------------------

      $("#sendBootBtn").click(() => {
        const bootNotificationMsg = createCall("BootNotification", {
          chargePointVendor: "ABC Charging Co.",
          chargePointModel: "Model XYZ",
          chargePointSerialNumber: "CP12345678",
          chargeBoxSerialNumber: "CB98765432",
          firmwareVersion: "1.2.3",
          iccid: "12345678901234567890",
          imsi: "98765432109876543210",
          meterType: "ElectricMeter 2000",
          meterSerialNumber: "EM2000-1234",
        });
        sendData(bootNotificationMsg);
      });
      $("#sendHeartBeatBtn").click(() => {
        const bootNotificationMsg = createCall("Heartbeat", {});
        sendData(bootNotificationMsg);
      });
    </script>
  </body>
</html>
